
<div class="container">

  <div layout="row" layout-align="center center">
      <h1>Board postit</h1>

      <md-button class="logout md-icon-button md-primary" aria-label="logout" ng-click="info.logout()">
        <i class="fa fa-sign-out fa-lg"></i>
      </md-button>
      

  <md-whiteframe class="md-whiteframe-z2" layout="column" layout-align="center center">

    

    </div>

    <div class="alert alert-danger" role="alert" ng-show="screen.error">Dados incorretos</div>

    <div class="board"> 
      

        <div class='md-padding background-color: lightblue;' layout="row" layout-wrap>
          <md-card style="width: 270px;" ng-repeat="card in info.cards" ng-class="{card_orange: info.cards.indexOf(card) % 2 == 0, card_green: info.cards.indexOf(card) % 2 == 1}" >
            <md-card-content>
              <h2>{{card.title}}</h2>
              <p>{{card.description}}</p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
              <md-button class="md-icon-button" aria-label="like" ng-click="info.like()">
                <i class="fa fa-heart-o  fa-lg"></i>
              </md-button>
            </div>
          </md-card>
        </div>

    </div>
  </md-whiteframe>
</div>